{% extends "layout.html" %}
{% block content %}
<h1 class="text-center mb-5">Welcome to Wildfire Database</h1>

<div class="content-section"> 
     <form method="POST" action=""> <!-- State -->
         {{ form.hidden_tag() }}
         <fieldset class="formgroup">
             <div class="form-group">
                {{ form.state.label }}
                {{ form.state(class="form-control form-control-md") }}  

                {{ form.year.label }}
                {{ form.year(class="form-control form-control-md") }} 
             </div>
         </fieldset>
         <div class="form-group">
            {{ form.submit(class="btn btn-outline-dark ") }}
       </div>
     </form>
</div> 
{% endblock content %}
